/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */
body { 
  font-family: 'Special Elite', cursive; 
  text-align: center;
} 
.nav { 
  color: teal;
  font-family: 'Special Elite', cursive;
  padding: 5px;
  font-size: 3rem;
}
.nav:hover{
  color: black
}

.heading {
  text-align: center;
  font-family: 'Special Elite', cursive;
  margin-top: 20px;
  margin-bottom: 10px;

}

ul {
  list-style: none;
}

.card {
  width: 15rem;
}